{% extends 'knp_menu.html.twig' %}

{% block list %}

    <div class="ui stackable grid sylius-tabular-form">
    
        <div class="three wide column">
            <div class="ui large fluid vertical menu">
                {% for item in item.children %}
                    {{ block( 'item' ) }}
                {% endfor %}
            </div>
        </div>
        
        <div class="thirteen wide column">
        
            <div>
                {% for childId, childMenu in item.children %}
                    {% if childId == 'details' %}
                        {% include childMenu.attribute( 'template' ) with {'form': options.vendorForm, 'vendor': options.vendor, 'formButtonsPaths': options.formButtonsPaths} %}
                    {% else %}
                        {% include childMenu.attribute( 'template' ) with {'vendor': options.vendor} %}
                    {% endif %}
                {% endfor %}
            </div>
            
        </div>
        
    </div>
    
{% endblock %}

{% block item %}
    {%- set attributes = item.attributes %}
    {%- set classes = item.attribute('class') is not empty ? [item.attribute('class')] : [] %}
    {%- if item.actsLikeFirst %}
        {%- set classes = classes|merge(['active']) %}
    {%- endif %}
    {%- if classes is not empty %}
        {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
    {%- endif %}
    <a class="item{% if attributes.class is defined %} {{ attributes.class }}{% endif %}" data-tab="{{ item.name }}">{{ item.label|trans }}</a>
{% endblock %}
